:root {
  --main-color: #ed1d26;
  --p-color: #7b7b7b;
  --bg-color: #f3f3f3;
  --white-color: #fff;
  --color-heading: #253237;
  --border-color: #d6d6d6d5;
}
.hero_slider{
  margin-top: 20px;
}
.hero_slider .container {
  display: flex;
  align-items: center;
  position: relative;
}
.hero_slider .content{
  position: absolute;
  padding: 0 40px;
  width: 400px;
  top: 50%;
  transform: translateY(-50%);
}
.hero_slider .content h4{
  font-size: 1vw;
  color: var(--p-color);
  text-transform: uppercase;
  font-style: italic;
  font-weight: normal;
  padding-top: 10px;
}
.hero_slider .content h1{
  font-size: 3vw;
  color: var(--main-color);
  text-transform: capitalize;
}
.hero_slider .content p{
  font-size: 1vw;
  margin: 20px 0 35px;
}
@media (max-width: 767px){
  .hero_slider .content h4,
  .hero_slider .content p{
    font-size: 1.5vw;
  }
  .hero_slider .content h4{
    padding-top: 25px;
  }
  .hero_slider .content p{
    margin-top: 8px;
    margin-bottom: 10px;
  }
}
.hero_slider .content .btn{
  font-size: 16px;
}
@media (max-width: 767px){
  .hero_slider .content .btn{
    font-size: 7px;
    padding: 5px;
    margin-top: 0;
  }
}